@import "~bootstrap/scss/bootstrap.scss";
.text-center{
    background-color: lightgray;
    width:650px;
    height: 650px;
    margin: auto;
    }
    .list{
        font-size: 20px;
    }
    .input{
        background-color: whitesmoke;
    }
    h3{
        font-size: 85px;
        color: lightslategray;
        font-family: 'Courier New', Courier, monospace;
    }
