@import "~bootstrap/scss/bootstrap.scss";
.text-center{
    background-color: lightpink;
    width:1000px;
    height: 1000px;
    margin: auto;
    }
    .list{
        font-size: 20px;
    }
    .input{
        width: 300px;
        height: 45px;
        box-shadow: 50px;
        border: transparent;
        padding: 20px;
    }
    h3{
        font-size: 150px;
        color: lightslategray;
        font-family: 'Courier New', Courier, monospace;
    }
    .btn-light{
        border: 0px;
        border-color: transparent;
        margin-left: 2px;
    }
   
    .list-group-item{
        background-color: lightpink;
        width: 500px;
        height: 100px;
        margin: auto;
    }
   .card{
       background-color: lightpink;
       border-color: transparent;
   }